body{
	font-family:sans-serif;
}
#kotak{	
	width:600px;
	height:300px;
	margin:50px auto;
	padding:50px;
}
h1,h2{
	text-align:center;
}
table tr td{
	width:150px;
}
table tr td input , select{
	width:420px;
	height:30px;
	font-size:12pt;
	padding-left:10px;
}